#carrusel img {
    width: 100%;
}

#lateral {
    background-color: #FAFAFA;
    padding: 0 1.5em;
    letter-spacing: .1px;
}

.productos{
  width: 100%;
}

.fila{
  padding: 3px;
}

.separador {
    border-bottom: .3px solid #e6e5e5;
}

.m-top {
        margin-top: 2em;
}

.img-60 {
    width: 60%;
}

.img-40  {
    width: 35%;
}

.letras-chiquitas {
    font-size: .7em;
}
