.sinMagenNipadding{
  padding: 0;
  margin: 0;
}
.listaResultados ul{
  list-style: none;
  text-align: left;
}
.borde-derecho{
  border-right: 1px solid #ddd;
}

.letraGrisGruesa{
  color:#999;
  font-weight: bold;
}
.tituloSeccion{
  padding-left: 20px;
}
