/* COMIENZAN ESTILOS ITZEL */
/*Comienzan estilos sección DETALLE DE PRODUCTO*/
.margin-top {
    margin-top: 150px;
}

.mt-0 {
    margin: 0px;
}

.min-font-size{
 font-size: 6.5px;
}
.mt-10{
	margin-top: -35px;
}
.alt-50{
	height: 40px;
}
.img{
	width: 100%;
}
/*Terminan estilos sección DETALLE DE PRODUCTO*/
/* TERMINAN ESTILOS ITZEL */

/* COMIENZAN ESTILOS GABY*/
.colorTitulo{
  color: #CC6600;
 }
.borde{
 	border-top: 1px dashed black;
 	border-bottom: 1px dashed black;
 }
.cuadro{
	margin: 2% 0;
	padding: 1%;
	border: 1px solid black;
}
.cuadro a{
	text-decoration: underline;
}
#recomendacionesPersonalizadas{
	margin-bottom: 3%;
}
/* TERMINAN ESTILOS GABY*/

/* COMIENZAN ESTILOS PARI*/
.clientes{
  width:100%;
}
.conjunto{
  display: block;
}

.margen{
  margin-top: -83%;
}
/* TERMINAN ESTILOS PARI*/
